<button class="relative flex aspect-square w-[64px] place-content-center place-items-center rounded-full border-2 border-slate-950 bg-blue-500 text-sm">
  <span>{{ company.name }}</span>

  <span class="absolute -right-3 -top-3 aspect-square w-8 rounded-full border-2 border-yellow-400 bg-slate-300 text-center" *ngIf="isActive">
    {{ offerCount }}
  </span>

  <span class="absolute -right-3 -top-3 aspect-square w-8 rounded-full border-2 border-gray-50 bg-slate-300 text-center" *ngIf="!isActive">
    {{ offerCount }}
  </span>
</button>
