<form class="mb-4 rounded bg-white px-8 pb-8 pt-6 shadow-md" [formGroup]="createOfferForm" (submit)="onSubmit()">
  <div class="mb-4">
    <label class="mb-2 block text-sm font-bold text-gray-700" for="title"> Title </label>
    <input
      class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
      id="title"
      type="text"
      placeholder="Title"
      formControlName="title"
      required
    />
    <p class="text-xs italic text-red-500" *ngIf="(title?.dirty || title?.touched) && !title?.valid">Please choose a title.</p>
  </div>
  <div class="mb-4">
    <label class="mb-2 block text-sm font-bold text-gray-700" for="companyId"> Company </label>
    <select
      class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
      id="companyId"
      type="text"
      placeholder="Title"
      formControlName="companyId"
      required
    >
      <option *ngFor="let company of companies" [value]="company.id">{{ company.name }}</option>
    </select>
    <p class="text-xs italic text-red-500" *ngIf="(companyId?.dirty || companyId?.touched) && !companyId?.valid">Please choose a company.</p>
  </div>
  <div class="mb-6">
    <label class="mb-2 block text-sm font-bold text-gray-700" for="description"> Description </label>
    <textarea
      class="focus:shadow-outline mb-3 w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
      id="description"
      formControlName="description"
    ></textarea>
  </div>
  <div class="flex items-center justify-between">
    <button class="focus:shadow-outline rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700 focus:outline-none" type="submit">Submit</button>
  </div>
</form>
